<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body ng-app="Grace">

    <ul>
        <li ng-click="selectRoom('Aula 1')">Aula 1</li>
        <li ng-click="selectRoom('Aula 2')">Aula 2</li>
    </ul>

    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="node_modules/angular/angular.js"></script>

    <script src="app/main.js"></script>
</body>
</html>